* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a,
a:active {
  text-decoration: none;
}
body {
  background-color: rgb(46, 46, 46);
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-img {
  background-image: url("./assets/jovan.jpg");
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-position: 0%;
  position: relative;
  transition: 0.5s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: rgba(red, green, blue, alpha 0.1);
}
.header h1 {
  display: inline-flex;
  color: rgb(46, 46, 46);
  flex-wrap: wrap;
}
.header ul li {
  display: inline;
  list-style: none;
  color: rgb(49, 49, 49);
  background-color: rgba(red, green, blue, alpha 0.1);
  margin: 0px 20px 18px 20px;
  text-align: center;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.5s;
}

.header ul li:hover {
  color: #3b3b3b;
  transition: 0.8s;
  cursor: pointer;
}
.header ul li:hover::after {
  width: 100%;
  transition: 0.4s;
}

footer {
  background-color: #5a5a66;
  display: inline;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.footer {
  align-items: center;
  text-align: center;
}
.footer ul li {
  display: inline;
  margin-right: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.footer ul li:hover {
  color: #ee6767;
  transition: 0.5s;
}

.NAV-Not-Active {
  color: rgb(46, 46, 46);
}

.NAV-Active {
  color: #ee6767;
  transition: 0.8s;
  background-size: 0px;
  background-color: unset;
}
.NAV-Active:hover::after {
  width: 100%;
  transition: 0.4s;
}
.hero-container {
  display: inline;
}
.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 600px;
  margin-left: 25%;
  background-color: blue;
  min-height: 100px;
  min-width: 200px;
}

@media only screen and (max-width: 768px) {
  .header ul li {
    display: flex;
    list-style: none;
    margin: 0px 20px 18px 20px;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s;
  }

  .bg-img {
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: 0.5s;
  }
}
